<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thumeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼2</title>
</head>

<style>
    .layout{
        width : 500px;
        margin : 0 auto;
    }

    .layout input {
        width : 100%;
        box-sizing : boarder-box
    }

     .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }
</style>

<body>
    <div class="layout">
        <form action="/board/writepro2" method="post">
            <input id="title" name="title" type="text" />
            <textarea id="content" name="content"></textarea>
            <button type="submit">작성</button>
        </form>
        <a th:href="@{/board/list}">취소</a>
    </div>
</body>
</html>